@import "./variables";
@import "./global";

#about-us {
   display: grid;
   grid-template-columns: 1fr 1fr; // kaç tane sütundan oluşuyorsa hepsinin tam alan kaplaması için kullanılır. 1fr 1fr 1fr şeklinde eleman sayısı kadar yazılabilir veya 20*1fr şeklinde yazılabilir
   gap: 9rem;
   align-items: center;

   .about-us-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
   }
   .about-us-text {
    h5 {
        color: $main-color;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-size: 22px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: $h2-font;
        font-weight: 800;
        line-height: 1.2;
        margin-bottom: 25px;
    }
    p {
        font-size: $p-font;
        font-weight: 500;
        color: $gray;
        line-height: 30px;
        margin-bottom: 30px;
    }
   }
}

@media (max-width: 1200px) {
    #about-us {
        display: flex;
        flex-direction: column;
    }
}