// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Scss imports
@import "./variables";
@import "./header";
@import "./home";
@import "./global";
@import "./educations";
@import "./aboutUs";
@import "./topEducations";
@import "./contactUs";
@import "./footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}
body{
    font-family: "Open Sans", sans-serif;
    background-color: $bg-color;
    color: $text-color;
}
a {
    color: $text-color;
}
section {
    padding: 70px 17% 60px;
}

.btn {
    background-color: $main-color;
    display: inline-block;
    padding: 13px 40px;
    color: $bg-color;
    font-size: 12px;
    font-weight: 600;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 10px;
    @extend .transition;
    &:hover {
       border: 2px solid white;
       background-color: transparent;
       color: $text-color;
       transform: translate(10px);
    }
}


